﻿hr
{
    height : 5px;
    width : 65%;
    background : MediumSeaGreen;
    border : 0;
}

p, ul, ol
{
    font-size : 1.4em;
}

/*This probably being nitpicky, but I'm adding this
  to get my numbered list to match the indent of my
  bulleted list. */
ol
{
    padding-left : 2.2em;
}

.container 
{
    margin-right : 200px;
    margin-left : 200px;
}

.center-text
{
    text-align : center;
}

.center-image
{
    display : block;
    margin-left : auto;
    margin-right : auto;
}

.sub-title
{
    font-style : italic;
}

.section-header
{
    margin-bottom : 0;
}

.section-header-name
{
    font-weight : bold;
    font-style : italic;
    text-decoration : underline;
}

.non-topmargin-list
{
    margin-top : 0;   
}